@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body {
  background-color: #131212;
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: whitesmoke;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
nav a {
  text-decoration: none;
  margin: 20px;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
a {
  text-decoration: none;
  color: lightcoral;
}
.something {
  color: whitesmoke;
  text-decoration: none;
}
button {
  font-size: 16px;
  background-color: lightcoral;
  border-radius: 15px;
  border: none;
  width: 90%;
  height: 50px;
}